################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/s07_erudio-microservices/GeekShopping/GeekShopping.Web/bin/Debug/net6.0
/s07_erudio-microservices/GeekShopping/GeekShopping.Web/obj
/s07_erudio-microservices/GeekShopping/.vs
/s07_erudio-microservices/GeekShopping/GeekShopping.APIGateway/bin/Debug/net6.0
/s07_erudio-microservices/GeekShopping/GeekShopping.APIGateway/obj
/s07_erudio-microservices/GeekShopping/GeekShopping.CartAPI/bin/Debug/net6.0
/s07_erudio-microservices/GeekShopping/GeekShopping.CartAPI/obj
/s07_erudio-microservices/GeekShopping/GeekShopping.CouponAPI/bin/Debug/net6.0
/s07_erudio-microservices/GeekShopping/GeekShopping.CouponAPI/obj
/s07_erudio-microservices/GeekShopping/GeekShopping.Email/bin/Debug/net6.0
/s07_erudio-microservices/GeekShopping/GeekShopping.Email/obj
/s07_erudio-microservices/GeekShopping/GeekShopping.IdentityServer/bin/Debug/net6.0
/s07_erudio-microservices/GeekShopping/GeekShopping.IdentityServer/obj
/s07_erudio-microservices/GeekShopping/GeekShopping.IdentityServer/keys
/s07_erudio-microservices/GeekShopping/GeekShopping.IdentityServer/tempkey.jwk
/s07_erudio-microservices/GeekShopping/GeekShopping.MessageBus/bin/Debug/net6.0
/s07_erudio-microservices/GeekShopping/GeekShopping.MessageBus/obj
/s07_erudio-microservices/GeekShopping/GeekShopping.OrderAPI/bin/Debug/net6.0
/s07_erudio-microservices/GeekShopping/GeekShopping.OrderAPI/obj
/s07_erudio-microservices/GeekShopping/GeekShopping.PaymentAPI/bin/Debug/net6.0
/s07_erudio-microservices/GeekShopping/GeekShopping.PaymentAPI/obj
/s07_erudio-microservices/GeekShopping/GeekShopping.PaymentProcessor/bin/Debug/net6.0
/s07_erudio-microservices/GeekShopping/GeekShopping.PaymentProcessor/obj
/s07_erudio-microservices/GeekShopping/GeekShopping.ProductAPI/bin/Debug/net6.0
/s07_erudio-microservices/GeekShopping/GeekShopping.ProductAPI/obj
